/* normalize.css */
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%
}

body {
  margin: 0
}

main {
  display: block
}

h1 {
  font-size: 2em;
  margin: .67em 0
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible
}

pre {
  font-family: monospace, monospace;
  font-size: 1em
}

a {
  background-color: transparent
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted
}

b,
strong {
  font-weight: bolder
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em
}

small {
  font-size: 80%
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline
}

sub {
  bottom: -.25em
}

sup {
  top: -.5em
}

img {
  border-style: none
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0
}

button,
input {
  overflow: visible
}

button,
select {
  text-transform: none
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText
}

fieldset {
  padding: .35em .75em .625em
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal
}

progress {
  vertical-align: baseline
}

textarea {
  overflow: auto
}

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit
}

details {
  display: block
}

summary {
  display: list-item
}

template {
  display: none
}

[hidden] {
  display: none
}






/* common.css */
* {
  /* font-family: 'Open Sans', sans-serif; */
  /* font-family: 'Roboto', sans-serif; */
}
.color-gray{
  color: #a0a4a5;
}
.color-white{
  color: #fff;
}
.wrapper {
  margin: 0 auto;
  max-width: 1200px;
  min-width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
}
.small-text-11{
  font-family: 'HelveticaNeueCyr';
  font-size: 11px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.45;
  letter-spacing: normal;
  /* color: #a0a4a5; */
}
.small-text-14{
  font-family: 'HelveticaNeueCyr';
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.14;
  letter-spacing: normal;

}
h5{
  font-family: 'HelveticaNeueCyr';
  font-size: 21px;
  line-height: 20px;
  
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  color: #a0a4a5;
  padding: 0;
  margin: 0;
}
h3{
  font-family: 'HelveticaNeueCyr';
  font-size: 28px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.14;
  letter-spacing: normal;
  margin: 0;
  padding: 0;
}
h4{
  font-family: 'HelveticaNeueCyr';
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.89;
  letter-spacing: 1.1px;
  margin: 0;
  padding: 0;
}
.uppercase{
  text-transform: uppercase;
}
.title-edging{
  color: rgba(0, 0, 0, 0.9);
  border-bottom: 1px solid #d6d6d6;
  padding-top: 20px;
  padding-bottom: 20px;
}
.small-link{
  font-family: 'HelveticaNeueCyr';
  color: #42cee2;
  font-size: 13px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.23;
  letter-spacing: normal;
  color: #42cee2;
  text-decoration: none;
}
a.small-link:hover{
  text-decoration: underline;
}


p{
  font-family: 'HelveticaNeueCyr';
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.44;
  letter-spacing: 0.5px;
}

.flex{
  display: flex;
  justify-content: start;
  align-items: center;
}
hr{
  background-color: #d6d6d6;
  height: 1px;
}

/* common ____ */
.header{
  /* margin-bottom: 100px; */
}

.header_top{
  background-color: #1e1c1c;
}
.header__plush{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 36px;
}
.header__plush_item a{
  text-decoration: none;
}
.header__plush__city{
  font-family: 'HelveticaNeueCyr';
  color: #42cee2;
  margin-left: 21px;
}
ul.header__top__list{
  list-style: none;
  margin: 0;
  padding: 0;
}
.header__top__list li{}

.header__top__list li a{
  color: #fff;
  opacity: 0.9;
  display: inline-block;
  padding-left: 22px;
  padding-right: 22px;
}
.header__top__list li:not(:nth-child(1)) a{
  border-left: 1px solid #d8d8d8;
}
.header__top__list li a:hover{
  text-decoration: underline;
}
.header_bottom{
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
}

.search_section{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 15px;
  padding-top: 15px;
}
.header__logo{
  width: 161px;
  height: 21px;

  background: gray;
}
.header__search{
  width: 720px;
  position: relative;
}
.header__search::before{
  content: " ";
  display: block;
  position: absolute;
  left: 15px;
  width: 20px;
  top: 12px;
  height: 20px;
  background-color: gray;
  border-radius: 100%;
}
  .search_input{
    width: 100%;
    padding: 0;
    padding-top: 14px;
    padding-bottom: 12px;
    padding-left: 52px;
    
    background-color: rgba(0, 0, 0, 0.06);
    font-family: 'HelveticaNeueCyr';
    border: 0;

    box-sizing: border-box;
    color: #1e1c1c;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 0.1px;
  }

  .search_input::placeholder{
    color: #787878;
  }
  .search_input:focus{
    outline: none;
  }
.header__cards{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__cards__items{
  width: 28px;
  height: 28px;
  background-color: gray;
  border-radius: 100%;
}
.header__cards__items:not(:nth-child(1)){
  margin-left: 40px;
}

.header-nav{}
.header-navigation__ul{
  list-style: none;
  margin: 0;
  padding: 0;

  border-top: 1px solid #d6d6d6;
  align-items: center;
  justify-content: space-between;
}
.header-navigation__ul li{
  
}
.header-navigation__ul li a{
  font-family: 'HelveticaNeueCyr';
  font-size: 12px;
  font-weight: bold;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
  padding-top: 17px;
  padding-bottom: 17px;
  display: block;
}
.breadcrumbs{
  padding-top: 17px;
  padding-bottom: 17px;
}
ul.breadcrumbs__crumbs{
  list-style: none;
  margin: 0;
  padding: 0;
  align-items: center;
}
.breadcrumbs__crumbs li{

}
.breadcrumbs__crumbs li a{
  font-family: 'HelveticaNeueCyr';
  color: #42cee2;
  font-size: 13px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.23;
  letter-spacing: normal;
  color: #42cee2;
  text-decoration: none;
}
.breadcrumbs__gap{
  margin-left: 5px;
  margin-right: 5px;
  color: #42cee2;
  font-size: 13px;
  border-bottom: 1px solid #d6d6d6;
}

.product{}
.product__section{
  justify-content: space-between;
  align-items: flex-start;
}
.product__col{
  min-height: 500px;
}

.product__col--view{
  width: 650px;
  /* margin-left: 20px; */
}

.product__col--actions{
  width: 344px;
  margin-right: 60px;
}
.rating-stars{
  align-content: center;
  align-items: center;

}
.rating-stars__title{
  color: rgba(0, 0, 0, 0.6);
  margin: 0;
  text-decoration: none;
}
ul.rating-stars__ul{
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: 10px;
}
ul.rating-stars__ul li{
  display: block;
}
ul.rating-stars__ul li a{
  background: #000;
  width: 13px;
  height: 13px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 100%;
  display: block;
}

.product__information{
  margin-top: 100px;
}
.product__price{
  font-family: 'HelveticaNeueCyr';
  font-size: 32px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.75;
  letter-spacing: 2px;
  color: rgba(0, 0, 0, 0.9);
  margin-bottom: 9px;
}
.product__price--old{
  font-family: 'HelveticaNeueCyr';
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
  color: rgba(0, 0, 0, 0.6);
  margin: 0;
  text-decoration: line-through;
}
.product__discount{
  font-family: 'HelveticaNeueCyr';
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
  color: rgba(0, 0, 0, 0.6);
  margin: 0;
}
.product__buy{
  border: 0;
  font-family: 'HelveticaNeueCyr';
  width: 330px;
  height: 56px;
  background-color: rgba(0, 0, 0, 0.9);
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: 1px;
  color: rgba(255, 255, 255, 0.9);
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 20px;
}
.product__buy:focus{
  outline: none;
}
.product__buy:hover{
  color: rgba(255, 255, 255);
}
.product_small_desciption > p{
  font-family: 'HelveticaNeueCyr';
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.14;
  letter-spacing: normal;
  color: #a0a4a5;
  margin-top: 0;
  margin-bottom: 7px;
}
.product_small_desciption .stock::before,
.product_small_desciption .no_discount::before{
  content: " ";
  position: relative;
  display: inline-block;
  width: 12px;
  height: 12px;
  background-color: #a0a4a5;
  border-radius: 100%;
  vertical-align: middle;
  margin-right: 8px;
}
.product_small_desciption{
  border-bottom: 1px solid #d6d6d6;
  padding-bottom: 16px;
  margin-top: 24px; 
}

.product__place{
  margin-top: 16px;
}
.product__place__item{
  margin-bottom: 16px;
}
.product__place__item p{
  font-family: 'HelveticaNeueCyr';
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.23;
  letter-spacing: normal;
  color: #a0a4a5;
  margin: 0;
  margin-top: 5px;
}
.product__place__item .black{
  color: rgba(0, 0, 0, 0.9);
}
.product__place__item span.blue{
  color: #42cee2;
}
.product__place__item span.gray{
  color: #42cee2;
}
.product__place__item .small-link{
  margin-top: 6px;
  display: inline-block;
}


.product__title{
  color: rgba(0, 0, 0, 0.9);
}
.product__title_sub{
  justify-content: space-between;
}
.product__name{
  color: #42cee2;
}


.product__gallery{
  justify-content: space-between;
  align-items: start;
  margin-bottom: 73px;
  margin-top: 27px;
}
.product__photos--min{
  width: 70px;
  list-style: none;
  margin: 0;
  padding: 0;
}
.product__photos--min li{
  display: block;
}

  .product__photo--min{
    width: 68px;
    height: 68px;
    background: #000;
    opacity: 0.3;
    display: block;
    margin-top: 14px;
    margin-bottom: 14px;
    border: 1px solid transparent;
  }
  .product__photo--min:nth-child(1){
    margin-top: 0;
  }
  .product__photo--min:hover{
    border: 1px solid #42cee2;
  }
  .product__photo--min--active{
    border: 1px solid #42cee2;
  }
.product__photos--full{
  margin: auto;
}
  .producnt__photo--full{
    width: 380px;
    height: 394px;
    background: #000;
    opacity: 0.3;
  }

.product__tabs__delivery{
  
}
.product__delivery{
  justify-content: space-between;
  width: 100%;
  align-content: flex-start;
  align-items: center;
}
.product__tabs{}
.product__tabs ul{
  list-style: none;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #d6d6d6;
  align-items: center;
  justify-content: space-between;
}
.product__tabs ul li{}
.product__tabs ul li a{
  font-family: 'HelveticaNeueCyr';
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.23;
  text-decoration: none;
  letter-spacing: 0.8px;
  color: rgba(0, 0, 0, 0.9);
  padding-bottom: 16px;
  display: inline-block;
  border-bottom: 3px solid transparent;
  transition: 240ms border ease;
}
.product__tabs ul li a:hover{
  border-bottom: 3px solid #000;
}

.product__description{
  color: rgba(0, 0, 0, 0.9);
}







.share_links{}

.share_links__section{
  justify-content: space-between;
  padding-top: 15px;
  padding-bottom: 15px;
}
  .share_links__item{
    width: 208px;
    height: 43px;
    background-color: #d8d8d8;
    border-radius: 4px;
    justify-content: center;
  }
  .share_links__img{
    width: 9px;
    height: 15px;
    background-color: #000;
  }





.footer {
  background-color: #1e1c1c;
}
.footer_top{
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer__grid {
  display: grid;
  grid-template-columns: 190px  134px 90px 124px 375px;
  justify-content: space-between;
}

.footer__column {
}
  ul.footer__list{
    list-style: none;
    margin-top: 17px;
    padding: 0;
  }
  .footer__list li{}
  .footer__list li a{
    text-decoration: none;
    margin-top: 5px;
    margin-bottom: 5px;
    display: inline-block;
    color: #a0a4a5;
  }
  .footer__list li a:hover{
    text-decoration: underline;
  }
.footer__mailing{
  display: flex;
  justify-content: start;
  margin-top: 20px;
}
  .footer__input{
    font-family: 'HelveticaNeueCyr';
    box-shadow: 0 1px 4px 0 rgba(24, 23, 23, 0.08);
    background-color: #fff;
    border: 0;
    width: 228px;
    color: #a0a4a5;
    padding-left: 12px;
  }
  .footer__button{
    height: 36px;
    color: #fff;
    background-color: transparent;
    border: 2px solid #fff;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    cursor: pointer;
    margin: 0;
    margin-left: 8px;
    width: auto;
    overflow: visible;
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;
    -webkit-appearance: none;
    opacity: 0.9;
  }
  .footer__button:hover{
    opacity: 1;
  }
.footer__social{
  display: flex;
  justify-content: start;
}
.footer__social_item{
  height: 40px;
  width: 40px;
  background: gray;
  border-radius: 100%;
  margin-top: 24px;
  cursor: pointer;
}
.footer__social_item:not(:nth-child(1)){
  margin-left: 24px;
}


.footer_bottom{
  padding-bottom: 32px;
}
  .footer__partners{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 22px;
  }
  .footer__partners-item{
    margin-left: 10px;
    margin-right: 10px;
    background-color: gray;
  }

  .footer__partners-item--sber{
    width: 112px;
    height: 20px;
  }
  .footer__partners-item--mnogo{
    widows: 83px;
    height: 14px;
  }
  .footer__partners-item--visa{
    width: 46px;
    height: 14px;
  }
  .footer__partners-item--maestro{
    width: 39px;
    height: 24px;
  }
  .footer__partners-item--mastercard{
    width: 40px;
    height: 24px;
  }

  .footer__copyright-description{
    text-align: center;
    opacity: 0.7;
  }